<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Servletlogin</display-name>
    <servlet-name>Servletlogin</servlet-name>
    <servlet-class>compte.Servletlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletlogin</servlet-name>
    <url-pattern>/Servletlogin</url-pattern>
  </servlet-mapping>
  <display-name>projectJ2EE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>compte.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>compte.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calculonscreditconsommation</display-name>
    <servlet-name>calculonscreditconsommation</servlet-name>
    <servlet-class>metier.calculonscreditconsommation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculonscreditconsommation</servlet-name>
    <url-pattern>/calculonscreditconsommation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dwadw</display-name>
    <servlet-name>dwadw</servlet-name>
    <servlet-class>metier.dwadw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwadw</servlet-name>
    <url-pattern>/dwadw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calculonsmensualités</display-name>
    <servlet-name>calculonsmensualités</servlet-name>
    <servlet-class>metier.calculonsmensualités</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculonsmensualités</servlet-name>
    <url-pattern>/calculonsmensualités</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wdw</display-name>
    <servlet-name>wdw</servlet-name>
    <servlet-class>dwad.wdw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wdw</servlet-name>
    <url-pattern>/wdw</url-pattern>
  </servlet-mapping>
</web-app>